{% load static %}
<html>
    <head>
        <meta charset="utf=8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>Blog</title>
    </head>
    <body>
        <!-- Header code start -->
        <div class="image-container">
            <nav class="navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Topics</a></li>
                    <li><a href="#">Services</a></li>
                </ul>
            </nav>
            <div class="intro">
                <h1>Techno Home</h1>
                <p>Welcome to the Techno home and find out programming related blogs and innovative projects.</p>
                <button>Find out more!</button>
            </div>
            <img src="{% static 'image/profile1.png' %}" alt="background-image">
        </div>
        <!-- Header code end -->
        <br>
        <br>
        <!--About section code -->
        <main class="container">
            <div class="image">
                <img id="image" src="{% static 'image/profile1.png' %}" alt="image" height="350" width="500">
                <div class="about-right">
                    <h1 id="text">About Us</h1>
                    <p id="intro">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita natus ad sed harum itaque ullam enim quas, veniam accusantium, quia animi id eos adipisci iusto molestias asperiores explicabo cum vero atque amet corporis! Soluta illum facere consequuntur magni. Ullam dolorem repudiandae cumque voluptate consequatur consectetur, eos provident necessitatibus reiciendis corrupti!</p>
                    <a class="btn" href="#">Explore Topics</a>
                </div>
            </div>
        </main>
        <!-- About section code -->

        
    </body>
</html>